<ion-header>
    <ion-navbar color="dark" *ngIf="!visibilidade">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Meus Livros</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="abrirPesquisa($event)">
                <ion-icon name="search"></ion-icon>
            </button>
            <button ion-button icon-only (click)="novoItem($event)">
                <ion-icon name="trash"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
    <ion-navbar color="dark" *ngIf="visibilidade">
        <ion-searchbar [(ngModel)]="pesquisa" [showCancelButton]="shouldShowCancel" (ionInput)="pesquisar($event)" (ionClear)="cancelarPesquisa()">
        </ion-searchbar>
    </ion-navbar>
</ion-header>

<ion-content padding>

</ion-content>
