page-signup {

.signup{
  background: url("../assets/imgs/Sing.jpg") no-repeat 50% 50%;
  background-size: 100%;
}

.signup h3{
  text-align: center;
  height: 28%;
  width: 35%;
}

.input {
  background-color: transparent;
}

}
